<div class="background">
  <div *ngIf="!loadingVideos">
    <section class="center" [ngSwitch]="display" >
      <div class="options-bar">
        <div class="filters">
          <div>
            <mat-form-field appearance="legacy">
              <mat-label>Filters</mat-label>
              <mat-select [(ngModel)]=filter (ngModelChange)="handleChange($event)">
                <mat-option *ngFor="let option of filters" [value]="option">
                  {{option}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="chips">
            <mat-chip-list>
              <mat-chip (click)="handleChange('All')"
                        [selected]="selectedChips == 'All'" >All videos</mat-chip>
              <mat-chip (click)="handleChange('Favorites')"
                        [selected]="selectedChips == 'Favorites'">Favorites</mat-chip>
              <mat-chip (click)="redirectTo()"><span style="color: green">Add new</span></mat-chip>
              <mat-chip (click)="handleChange('Remove')"><span style="color: darkred">Delete all</span></mat-chip>
            </mat-chip-list>
          </div>
        </div>

        <div class="buttons">
          <button mat-flat-button
                  color="primary"
                  (click)="display = displayOptions.list"
                  [disabled]="display == displayOptions.list">
            <mat-icon class="material-icons">view_list</mat-icon>
          </button>
          <button mat-flat-button
                  color="primary"
                  (click)="display = displayOptions.blocks"
                  [disabled]="display == displayOptions.blocks">
            <mat-icon class="material-icons-outlined">calendar_view_month</mat-icon>
          </button>
        </div>
      </div>

      <div class="wrapper open-animation" *ngSwitchCase="displayOptions.blocks">
        <div *ngFor="let item of videoList; index as i">
          <mat-card>
            <mat-card-header>
              <mat-card-title>{{item.name}}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <div class="img-wrapper" (click)="openModal(item)">
                <img src='{{item.img}}' alt="">
              </div>
              <div class="stats">
                <p><b>Adding date </b>{{item.releaseTime | date}}</p>
                <p><b>Likes </b>{{item.likes}}</p>
                <p><b>Plays </b>{{item.plays}}</p>
              </div>
              <div class="actions">
                <button mat-button [ngSwitch]="item.isFavorite" (click)="setFavorite(item.uri)">
                  <mat-icon *ngSwitchCase="false">favorite_border</mat-icon>
                  <mat-icon *ngSwitchCase="true">favorite</mat-icon>
                </button>
                <button mat-button
                        color="warn"
                        (click)="removeVideo(i)">Delete</button>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
        <div *ngIf="videoList.length == 0 && videoList" class="empty-list">
          <h2>Video list is empty</h2>
        </div>

      </div>

      <div class="wrapper-list open-animation" *ngSwitchCase="displayOptions.list">
        <div *ngFor="let item of videoList; index as i" >
          <mat-card>
            <mat-card-header>
              <mat-card-title>{{item.name}}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <div class="list-content">
                <div class="img-wrapper" (click)="openModal(item)">
                  <img src='{{item.img}}' alt="">
                </div>
                <div class="stats">
                  <p><b>Adding date </b>{{item.releaseTime}}</p>
                  <p><b>Likes </b>{{item.likes}}</p>
                  <p><b>Plays </b>{{item.plays}}</p>
                </div>
              </div>
              <div class="actions">
                <button mat-button [ngSwitch]="item.isFavorite" (click)="setFavorite(item.uri)">
                  <mat-icon *ngSwitchCase="false">favorite_border</mat-icon>
                  <mat-icon *ngSwitchCase="true">favorite</mat-icon>
                </button>
                <button mat-button
                        color="warn"
                        (click)="removeVideo(i)">Delete</button>
              </div>
            </mat-card-content>
          </mat-card>
        </div>

        <div *ngIf="videoList.length == 0 && videoList" class="empty-list">
          <h2>Video list is empty</h2>
        </div>
      </div>
    </section>
  </div>

  <div *ngIf="loadingVideos" class="loader">
    <mat-spinner strokeWidth="5" diameter="50"></mat-spinner>
  </div>
</div>


