<div class="background">
  <div *ngIf="!loadingVideos">
    <section class="center" [ngSwitch]="display" >
      <div class="options-bar">
        <div class="filters">
          <div>
            <mat-form-field appearance="legacy">
              <mat-label>Filters</mat-label>
              <mat-select [(ngModel)]=filter (ngModelChange)="handleChange($event)">
                <mat-option *ngFor="let option of filters" [value]="option">
                  {{option}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="chips">
            <mat-chip-list>
              <mat-chip (click)="handleChange('All')"
                        [selected]="selectedChips == 'All'" ><span>All videos</span></mat-chip>
              <mat-chip (click)="handleChange('Favorites')"
                        [selected]="selectedChips == 'Favorites'"><span>Favorites</span></mat-chip>
              <mat-chip (click)="redirectTo()"><span style="color: green">Add new</span></mat-chip>
              <mat-chip (click)="handleChange('Remove')"><span style="color: darkred">Delete all</span></mat-chip>
            </mat-chip-list>
          </div>
        </div>

        <div class="buttons">
          <button mat-flat-button
                  color="primary"
                  (click)="display = displayOptions.list"
                  [disabled]="display == displayOptions.list">
            <mat-icon class="material-icons">view_list</mat-icon>
          </button>
          <button mat-flat-button
                  color="primary"
                  (click)="display = displayOptions.blocks"
                  [disabled]="display == displayOptions.blocks">
            <mat-icon class="material-icons-outlined">calendar_view_month</mat-icon>
          </button>
        </div>
      </div>

      <div class="wrapper open-animation" *ngSwitchCase="displayOptions.blocks">
        <div *ngFor="let item of videoList; index as i">
          <mat-card>
            <div class="img-wrapper" (click)="openModal(item)">
            <img mat-card-image src='{{item.pictures.sizes[2].link}}' alt="">
            </div>
              <mat-card-title>{{item.name}}</mat-card-title>
            <mat-card-content class="stats">
                <p>{{item.stats.plays == null ? '0' : item.stats.plays}} plays • <span>{{item.metadata.connections.likes.total}} likes</span></p>
                <p title="adding date">{{item.release_time | date}}</p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button [ngSwitch]="item.isFavorite" (click)="setFavorite(item.uri)" class="like" title="set favorite" >
<!--                <span *ngSwitchCase="false">LIKE</span>-->
<!--                <span *ngSwitchCase="true">UNLIKE</span>-->
                <mat-icon *ngSwitchCase="false">favorite_border</mat-icon>
                <mat-icon *ngSwitchCase="true">favorite</mat-icon>
              </button>
              <button mat-button
                      (click)="removeVideo(i)"
                      class="delete">
                <mat-icon *ngSwitchCase="true" title="remove video">delete</mat-icon>
              </button>
            </mat-card-actions>
          </mat-card>
        </div>
        <div *ngIf="videoList.length == 0 && videoList" class="empty-list">
          <h2>Video list is empty</h2>
        </div>

      </div>

      <div class="wrapper-list open-animation" *ngSwitchCase="displayOptions.list">
        <div *ngFor="let item of videoList; index as i" >
          <mat-card>
              <div class="img-wrapper" (click)="openModal(item)">
                <img src='{{item.pictures.sizes[2].link}}' alt="">
              </div>
              <div class="stats-wrapper">
                <div></div>
                <mat-card-title>{{item.name}}</mat-card-title>
                <p>{{item.stats.plays == null ? '0' : item.stats.plays}} plays • <span>{{item.metadata.connections.likes.total}} likes</span></p>
                <!--                <p>{{item.stats.plays == null ? '0' : item.stats.plays}} plays</p>-->
                <p title="adding date">{{item.release_time | date}}</p>
                <div class="buttons">
                  <button mat-button [ngSwitch]="item.isFavorite" (click)="setFavorite(item.uri)" class="like" title="set favorite" >
                    <!--                <span *ngSwitchCase="false">LIKE</span>-->
                    <!--                <span *ngSwitchCase="true">UNLIKE</span>-->
                    <mat-icon *ngSwitchCase="false">favorite_border</mat-icon>
                    <mat-icon *ngSwitchCase="true">favorite</mat-icon>
                  </button>
                  <button mat-button
                          (click)="removeVideo(i)"
                          class="delete">
                    <mat-icon *ngSwitchCase="true" title="remove video">delete</mat-icon>
                  </button>
                </div>
            </div>
          </mat-card>
        </div>

        <div *ngIf="videoList.length == 0 && videoList" class="empty-list">
          <h2>Video list is empty</h2>
        </div>
      </div>
    </section>
  </div>

  <div *ngIf="loadingVideos" class="loader">
    <mat-spinner strokeWidth="5" diameter="50"></mat-spinner>
  </div>
</div>


