    <div class="player-wrapper">
        <iframe [src]="video"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
                frameborder="none">
        </iframe>
    </div>



<!--<div class="player-wrapper">-->
<!--  <div *ngIf="loadVideo">-->
<!--    <div class="player-wrapper" [ngSwitch]="size">-->
<!--      <div *ngSwitchDefault>-->
<!--        <iframe [src]="video"-->
<!--                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"-->
<!--                allowfullscreen-->
<!--                frameborder="none"-->
<!--                width="400"-->
<!--                height="225">-->
<!--        </iframe>-->
<!--      </div>-->

<!--      <div *ngSwitchCase="videoSizes.medium">-->
<!--        <iframe [src]="video"-->
<!--                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"-->
<!--                allowfullscreen-->
<!--                frameborder="none"-->
<!--                width="1280"-->
<!--                height="720">-->
<!--        </iframe>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div *ngIf="!loadVideo" class="spinner">-->
<!--    <mat-spinner strokeWidth="5" diameter="50"></mat-spinner>-->
<!--  </div>-->
<!--</div>-->


