<mat-toolbar class="toolbar" color="primary">
  <div class="wrapper">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div>
    <nav >
      <ul>
        <li>
          <a routerLink="dashboard/options" >Settings<span class="nav-indicator"></span></a>
        </li>
        <li>
          <a href="" >Account <span class="nav-indicator"></span></a>
        </li>
      </ul>
    </nav>
<!--    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">-->
<!--     <span>Account</span>-->
<!--    </button>-->
<!--    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">-->
<!--     <span>Settings</span>-->
<!--    </button>-->
  </div>
</mat-toolbar>
