.options {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.content {
  margin: 0 auto 30px auto;
  //width: 645px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h2 {
   margin: 0;
  }

  button {
    width: 40px !important;
    height: 40px;
    margin: 0 0 0 20px !important;
  }
}

.search-video {
  mat-form-field {
    width: 100%;
  }

  button{
    width: 100%;
    margin: 10px 0;
  }
}

img {
  object-fit: contain;
}

p {
  word-break: break-all;
  max-width: 50vw;
}

mat-card {
  width: 860px;
  margin-top: 30px;
}

mat-form-field {
  margin: 10px 0
}

.info {
  .info-content {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;

    div{
      padding: 0 10px;
    }
  }
  button {
    margin: 15px 0;
    width: 100%;
  }
}

.removeAll {
  display: flex;
  align-items: flex-end;
}

.navigation-uris {
  padding: 25px 0 15px 0 ;
  display: flex;
  justify-content: space-between;
  width: 100%;

  mat-form-field {
    width: 100%;
    padding-right: 15px;
  }
}

.display-uris {
  button {
    width: 100%;
  }
}

.content-multiple {
  @extend .content;

}
@media screen and (max-width: 1080px) {
  mat-card {
    width: 650px ;
  }
}

@media screen and (max-width: 768px) {
  mat-card {
    width: 500px ;
  }
}

@media screen and (max-width: 600px) {
  mat-card {
    width: 400px ;
  }
}

@media screen and (max-width: 480px) {
  mat-card {
    width: 360px ;
  }

  .content {
    padding: 0;
    margin: 15px;

    .info-content {
      div {
        padding-top: 10px;

      }
    }
  }

  img {
    margin: 0 auto;
  }
}
