<section class="background">
  <div class="options open-animation">
      <mat-card>
        <mat-card-content>
            <div class="content">
              <div class="search-video">
                <div class="navigation">
                  <h2>Add video by Id number</h2>
                  <button mat-button (click)="goToDashboard()" color="primary"><mat-icon>arrow_back</mat-icon></button>
                </div>
                <form [formGroup]="searchVideoForm" >
                  <mat-form-field appearance="legacy" >
                    <mat-label>Video id</mat-label>
                    <input matInput formControlName="videoId" pattern="[0-9]+">
                    <mat-error *ngIf="!searchVideoForm.valid">{{getErrorMessage()}}</mat-error>
                  </mat-form-field>
                  <button mat-flat-button color="primary" (click)="getVideoById()" [disabled]="lockButtons">Search</button>
                </form>

              </div>

            <div class="info ">
              <div *ngIf="videoInformation">
                <div class="info-content open-animation">
                  <img src='{{videoInformation.pictures.sizes[2].link}}' alt="">
                  <div>
                    <h3><b>Video informations</b></h3>
                    <p><b>Name </b>{{videoInformation.name}}</p>
                    <p><b>Likes </b>{{videoInformation.metadata.connections.likes.total}}</p>
                    <p><b>Creation date </b>{{videoInformation.created_time | date}}</p>
                  </div>
                </div>
                <button mat-flat-button color="primary"
                        [disabled]="lockButtons"
                        (click)="addToVideoList(videoInformation)">Add to list</button>
              </div>
            </div>

              <div *ngIf="!videoInformation && loading " class="loader">
                <mat-spinner strokeWidth="5" diameter="50"></mat-spinner>
              </div>
          </div>
        </mat-card-content>
      </mat-card>
        <mat-divider></mat-divider>

    <mat-card>
      <mat-card-content>
          <div class="content-multiple">
            <div class="navigation">
              <h2>Add multiple videos</h2>
              <button mat-button (click)="goToDashboard()" color="primary"><mat-icon>arrow_back</mat-icon></button>
            </div>

              <form [formGroup]="getMultiplyVideos" class="navigation-uris" >
                <mat-form-field appearance="legacy" >
                  <mat-label>Video Uri</mat-label>
                  <input matInput formControlName="videoUri">
                </mat-form-field>
                <button mat-mini-fab color="#ededed"
                        (click)="pushVideoUriToList()"
                        [disabled]="lockButtons">
                  <mat-icon color="primary">add</mat-icon>
                </button>
              </form>


              <div class="display-uris">
                <div *ngFor="let item of videoUrisList">
                  <p>{{item}}</p>
                </div>
                <button mat-flat-button color="primary"
                        [disabled]="lockButtons "
                       (click)="getVideosByUris()">Preview</button>
              </div>


             <div *ngIf="videoList" class="info">
               <div *ngFor="let item of videoList">
                 <div class="info-content open-animation">
                   <img src='{{item.pictures.sizes[2].link}}' alt="">
                   <div>
                     <h3><b>Video informations</b></h3>
                     <p><b>Name </b>{{item.name}}</p>
                     <p><b>Likes </b>{{item.metadata.connections.likes.total}}</p>
                     <p><b>Creation date </b>{{item.created_time | date}}</p>
                   </div>
                 </div>
               </div>
               <button mat-flat-button color="primary"
                       [disabled]="lockButtons "
                       (click)="addVideosToList()">Add all to list</button>
             </div>

            <div *ngIf="!videoList && loadingUris " class="loader">
              <mat-spinner strokeWidth="5" diameter="50"></mat-spinner>
            </div>


            </div>
        </mat-card-content>
      </mat-card>

    </div>
</section>
