* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.background {
  background-color: #f7f7f7;
  min-height: 100vh;
  padding-top: 64px;
}

.loader {
  padding: 15px;
  display: flex;
  justify-content: center
}

.open-animation {
  animation-name: animateTable;
  animation-duration: 1s;
  position: relative;
}



@keyframes animateTable {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


//////////material fix

mat-chip {
  span {
    font-weight: 400;
  }
}
