* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.background {
  background-color: #f7f7f7;
  min-height: 100vh;
  padding-top: 64px;
}

.loader {
  padding: 15px;
  display: flex;
  justify-content: center
}

.open-animation {
  animation-name: animateTable;
  animation-duration: 1s;
  position: relative;
}

$primary-color: #143e43;
$accent-color: #4dd1cc;
$optional-color: #5a7670;



@keyframes animateTable {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
//////////material fix

mat-chip {
  span {
    font-weight: 400;
  }
}

.mat-progress-spinner circle, .mat-spinner circle {
  stroke: $primary-color;
}
